{% extends 'revision-check/layout.twig' %}

{% block revcheck_nav %}
{{ nav|raw|nl2br }}
{% endblock %}

{% block revision_check_content %}
    <div id="bar-chart"><!-- Plotly chart will be drawn inside this DIV --></div>
    <p>
        Generated:
        <time class="gen-date" datetime="{{ "now"|date("Y-m-d\TH:i:sP") }}">{{ "now"|date("D, d M Y H:i:s O") }}</time>
    </p>
{% endblock %}

{% block js_scripts %}
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        let data = [{
            x: [{{ translations|raw }}],
            y: [{{ upToDatePercentages }}],
            type: 'bar'
        }];

        Plotly.newPlot('bar-chart', data);
    </script>
{% endblock %}