{% extends 'layout.twig' %}

{% block title %}
    Revision check
{% endblock %}

{% block content %}
    <nav class="revcheck-translation-navigation">
        <ul>
            {% block revcheck_nav %}
            <li><a href="{{ revisionCheckPath }}{{ language }}/">Index</a></li>
            <li><a href="{{ revisionCheckPath }}{{ language }}/translators.html">Translators</a></li>
            <li><a href="{{ revisionCheckPath }}{{ language }}/status.html">Files status</a></li>
            <li><a href="{{ revisionCheckPath }}{{ language }}/outdated.html">Outdated files</a></li>
            <li><a href="{{ revisionCheckPath }}{{ language }}/missing-revision.html">Files missing revision</a></li>
            <li><a href="{{ revisionCheckPath }}{{ language }}/untranslated.html">Untranslated files</a></li>
            <li><a href="{{ revisionCheckPath }}{{ language }}/no-upstream.html">Not in EN tree</a></li>
            <li><a href="{{ revisionCheckPath }}{{ language }}/update-revision-empty-change.diff">Git diff of non synced revision with identical content</a></li>
            <li><a href="{{ revisionCheckPath }}{{ language }}/graph.html">Graph</a></li>
            {% endblock %}
        </ul>
    </nav>
    <section class="content">
        {% block revision_check_content %}{% endblock %}
    </section>
{% endblock %}
