{% extends 'revision-check/layout.twig' %}

{% block title %}
    Revision check: Graph of file status for {{ language }} translation
{% endblock %}

{% block revision_check_content %}
    <div id="pie-chart"><!-- Plotly chart will be drawn inside this DIV --></div>
    <p>
        Generated:
        <time class="gen-date" datetime="{{ "now"|date("Y-m-d\TH:i:sP") }}">{{ "now"|date("D, d M Y H:i:s O") }}</time>
    </p>
{% endblock %}

{% block js_scripts %}
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Numeric JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
<script>
    let data = [{
        values: [
            {{ translation.getUpToDateAmount }},
            {{ translation.getOutDatedAmount }},
            {{ translation.getMissingRevisionTagAmount }},
            {{ translation.getUntranslatedAmount }}
        ],
        labels: ['Up to date', 'Outdated', 'Missing Revision', 'Untranslated'],
        marker: {
            colors: ["#83FFB8", '#EB3441', '#FF8632', '#CCD7E3']
        },
        type: 'pie'
    }];

    Plotly.newPlot('pie-chart', data, {});
</script>
{% endblock %}
