{% extends 'revision-check/layout.twig' %}

{% block title %}
    Revision check: {{ language }} translation
{% endblock %}

{% block revision_check_content %}
    <p>Intro for language, W.I.P.</p>
{% endblock %}