{% extends 'revision-check/layout.twig' %}

{% block title %}
    Revision check: Files without English revision for {{ language }} translation
{% endblock %}

{% block revision_check_content %}
    <table>
        <caption>Files without English revision (Total {{ amount }})</caption>
        <thead>
        <tr>
            <th rowspan="2" scope="col">File name</th>
            <th colspan="3" scope="colgroup">Size in kB</th>
        </tr>
        <tr>
            <th scope="col">en</th>
            <th scope="col">{{ language }}</th>
            <th scope="col">Diff</th>
        <tr>
        </thead>
        {% for directory, directoryFiles in directories %}
        <tbody>
            <tr><th colspan="4" scope="colgroup">{{ directory }}</th></tr>
            {% for fileInfo in directoryFiles %}
                <tr>
                    <th scope="row">{{ fileInfo.file_name }}</th>
                    <td>{{ fileInfo.englishSize }}</td>
                    <td>{{ fileInfo.size }}</td>
                    <td>{{ fileInfo.englishSize - fileInfo.size }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
    <p>
        Generated:
        <time class="gen-date" datetime="{{ "now"|date("Y-m-d\TH:i:sP") }}">{{ "now"|date("D, d M Y H:i:s O") }}</time>
    </p>
{% endblock %}