{% extends 'revision-check/layout.twig' %}

{% block title %}
    Revision check: Files with no upstream for {{ language }} translation
{% endblock %}

{% block revision_check_content %}
    <table>
        <caption>Files which have no upstream english equivalent (Total {{ amount }})</caption>
        <thead>
            <tr>
                <th scope="col">File name</th>
                <th scope="col">Size of file (kB)</th>
            </tr>
        </thead>
        <tbody>
            {% for directory, directoryFiles in directories %}
                <tr><th colspan="2" scope="colgroup">{{ directory }}</th></tr>
                {% for fileInfo in directoryFiles %}
                    <tr>
                        <th scope="row">{{ fileInfo.file_name }}</th>
                        <td>{{ fileInfo.size }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <p>
        Generated:
        <time class="gen-date" datetime="{{ "now"|date("Y-m-d\TH:i:sP") }}">{{ "now"|date("D, d M Y H:i:s O") }}</time>
    </p>
{% endblock %}