{% extends 'revision-check/layout.twig' %}

{% block title %}
    Revision check: Outdated files for {{ language }} translation
{% endblock %}

{% block revision_check_content %}
    <table>
        <caption>Outdated files (Total {{ amount }})</caption>
        <thead>
        <tr>
            <th rowspan="2" scope="col">Translated file</th>
            <th colspan="2" scope="colgroup">Revision</th>
            <th rowspan="2" scope="col">Maintainer</th>
        </tr>
        <tr>
            <th scope="col">en</th>
            <th scope="col">{{ language }}</th>
        </tr>
        </thead>
        {% for directory, directoryFiles in directories %}
        <tbody>
            <tr><th colspan="4" scope="colgroup">{{ directory }}</th></tr>
            {% for fileInfo in directoryFiles %}
                <tr>
                    <th scope="row">
                        {% if directory is empty %}
                            <a href="https://git.php.net/?p=doc/en.git;a=blobdiff;f={{ fileInfo.file_name }};hb={{ fileInfo.englishRevision }};hpb={{ fileInfo.revision }}">
                        {% else %}
                            <a href="https://git.php.net/?p=doc/en.git;a=blobdiff;f={{ directory }}/{{ fileInfo.file_name }};hb={{ fileInfo.englishRevision }};hpb={{ fileInfo.revision }}">
                        {% endif %}
                            {{ fileInfo.file_name }}
                            [diff]
                        </a>
                    </th>
                    <td>{{ fileInfo.englishRevision }}</td>
                    <td>{{ fileInfo.revision }}</td>
                    <td>{{ fileInfo.maintainer }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
    <p>
        Generated:
        <time class="gen-date" datetime="{{ "now"|date("Y-m-d\TH:i:sP") }}">{{ "now"|date("D, d M Y H:i:s O") }}</time>
    </p>
{% endblock %}
