{% extends 'revision-check/layout.twig' %}

{% block title %}
    Revision check: File status for {{ language }} translation
{% endblock %}

{% block revision_check_content %}
    <table>
        <thead>
        <tr>
            <th scope="col">File status type</th>
            <th scope="col">Number of files</th>
            <th scope="col">Percent of files</th>
            <th scope="col">Size of files (kB)</th>
            <th scope="col">Percent of size</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Up to date</th>
            <td>{{ translation.getUpToDateAmount }}</td>
            <td>{{ translation.getUpToDateAmountPercentage }}%</td>
            <td>{{ translation.getUpToDateSize }}</td>
            <td>{{ translation.getUpToDateSizePercentage }}%</td>
        </tr>
        <tr>
            <th scope="row">Outdated</th>
            <td>{{ translation.getOutDatedAmount }}</td>
            <td>{{ translation.getOutDatedAmountPercentage }}%</td>
            <td>{{ translation.getOutDatedSize }}</td>
            <td>{{ translation.getOutDatedSizePercentage }}%</td>
        </tr>
        <tr>
            <th scope="row">Missing revision number</th>
            <td>{{ translation.getMissingRevisionAmount }}</td>
            <td>{{ translation.getMissingRevisionAmountPercentage }}%</td>
            <td>{{ translation.getMissingRevisionSize }}</td>
            <td>{{ translation.getMissingRevisionSizePercentage }}%</td>
        </tr>
        <tr>
            <th scope="row">Untranslated</th>
            <td>{{ translation.getUntranslatedAmount }}</td>
            <td>{{ translation.getUntranslatedAmountPercentage }}%</td>
            <td>{{ translation.getUntranslatedSize }}</td>
            <td>{{ translation.getUntranslatedSizePercentage }}%</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="row">Total</th>
            <td>{{ translation.getTotalAmount }}</td>
            <td>{{ translation.getTotalAmountPercentage }}%</td>
            <td>{{ translation.getTotalSize }}</td>
            <td>{{ translation.getTotalSizePercentage }}%</td>
        </tr>
        </tfoot>
    </table>
    <p>
        Generated:
        <time class="gen-date" datetime="{{ "now"|date("Y-m-d\TH:i:sP") }}">{{ "now"|date("D, d M Y H:i:s O") }}</time>
    </p>
{% endblock %}