{% extends 'revision-check/layout.twig' %}

{% block title %}
    Revision check: Untranslated files available to translate into {{ language }}
{% endblock %}

{% block revision_check_content %}
    <table>
        <caption>Untranslated files (Total {{ amount }})</caption>
        <thead>
        <tr>
            <th scope="col">File name</th>
            <th scope="col">Size of file (kB)</th>
        </tr>
        </thead>
        {% for directory, directoryFiles in directories %}
        <tbody>
            <tr><th colspan="2" scope="colgroup">{{ directory }}</th></tr>
            {% for fileInfo in directoryFiles %}
                <tr>
                    <th scope="row">{{ fileInfo.file_name }}</th>
                    <td>{{ fileInfo.size }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
    <p>
        Generated:
        <time class="gen-date" datetime="{{ "now"|date("Y-m-d\TH:i:sP") }}">{{ "now"|date("D, d M Y H:i:s O") }}</time>
    </p>
{% endblock %}